<ul class="nav navbar-nav" id="application-menu">
	<!-- <li id="btn-menu-categories" class="btn-menu"><a href="#categories">Categories</a></li> -->
	<!-- <li id="btn-menu-products" class="btn-menu"><a href="#products">Products</a></li> -->
	<!-- <li id="btn-menu-importcsv" class="btn-menu"><a href="#"><span class="glyphicon glyphicon-floppy-save"></span> Import from CSV</a></li> -->
</ul>
<ul class="nav navbar-nav navbar-right" id="application-account">
	<li><a href="#" id="vendor-name">About</a></li>
	<li><a href="#" id="vendor-name">Contact</a></li>	
</ul>